{% extends 'annotBox.html.twig' %}
{% block outBefore %}
    {{ include('annotation/ulBasic/ulBlockParams.html.twig',
    {  'media': media,
        'modalId': 'progressUlModal',
        'rootId':'progressUl'}) }}
{% endblock %}
{% block annotBody %}

  <div id="ttgAnUl{{ playerHtmlId }}" class="tab-pane">
      <table class="table table-responsive table-condensed center"
             style="border:none"
      >
          <tbody>
          <tr>
              <td style="border-top: none">
                  {{ include('annotation/ulBasic/ulBlock_refresh.html.twig',
                  {  'media': media,
                      'modalId': 'progressUlModal',
                      'rootId':'progressUl'}) }}
              </td>
              <td style="border-top: none">
                  {{ include('annotation/ulBasic/ulBlock_recenter.html.twig',
                  {  'media': media,
                      'modalId': 'progressUlModal',
                      'rootId':'progressUl'}) }}
              </td>
              <td style="border-top: none; min-width: 25%">
                  <span id="ttgAnUlNav{{ playerHtmlId }}" class="center localNavBlock"></span>
              </td>
              <td style="border-top: none">
                  {{ include('annotation/ulBasic/ulBlockParams_open.html.twig',
                  {  'media': media,
                      'modalId': 'progressUlModal',
                      'rootId':'progressUl'}) }}
              </td>
          </tr>
          </tbody>
      </table>


    <div id="ttgAnUlBody{{ playerHtmlId }}" style="width: 100%; margin:0em auto"></div>
  </div>
    <script type="application/javascript">
        $( function() {
            getAsJsArrayOfArray(
                [
                    {'annotType':'{{ annotType }}',
                        'annotUrl':'{{ annotUrl }}',
                        'annotTitle':'{{ annotName }}',
                        'itemStart':0}
                        ],
                ttgAnnotationUlBasic,
                {
                    'chartContainerId':'ttgAnUlBody{{ playerHtmlId }}',
                    'sizeCriterionId':'item_start',
                    'offsetCriterionId':'time_start',
                    'localNavType':'singleFtxt',
                    'localNavBlockId':'ttgAnUlNav{{ playerHtmlId }}',
                    'chartOptions':{},
                    'gadgetContainerId':'toolbar_themes',
                    'playerHtmlId':'{{ playerHtmlId }}'});
            }
        );
    </script>

{% endblock %}
