{% extends 'base.html.twig' %}
{% block body %}

    {{ include('media/title.html.twig',
    {'media': media}) }}

    {{ include('tc/navSettings.html.twig',
    {'media': media}) }}
    {{ include('tc/navConstantTimes.html.twig',
    {'media': media,
        'param1': 'tou42'}) }}
    {% if  (media.getMediaType() == '21000') %} <!-- youtube video -->
        {{ include('media/render_21001.html.twig', {'media': media}) }}
    {% endif %}

    {% if  media.getMediaType() == '21001' %} <!--  youtube video in a playlist -->
        {{ include('media/render_21001.html.twig', {'media': media}) }}
    {% endif %}

    {% if  media.getMediaType() == '12000' %} <!--  pul-lup audio -->
        {{ include('media/render_12000.html.twig', {
            'media': media,
            'globalMediaPositionFrom0':'0'
            }) }}
    {% endif %}

    <div class="chartsContainer">
        {{ include('tc/navProgressBar.html.twig', {
            'media': media,
            'rootId':'progressBarRange'
        }) }}
        <a onclick="javascript:ttgUpdateProgress('progressBarRange', '{{ playerHtmlId }}', 1500)"
           class="btn  btn-primary active">update progress</a>
        <a onclick="javascript:ttgRecenterPlayhead('progressBarRange', '{{ playerHtmlId }}', 0)" class="btn btn-primary active">recenter</a>



    </div>
    {{ include('tc/navSettingsParams.html.twig',
        {'media': media,}) }}

{% endblock %}