{% block body %}
    <div class="center">
    <table class="table table-responsive table-condensed"
           style="border:none"
    >
    <tbody>
    <tr>
    <td>
        <span id="playbackRateButtoms{{ playerHtmlId }}"
              class="btn-group container-fluid"
              role="group">
            <!--<a class="btn btn-primary active speedChange"
               onclick="document
                       .getElementById('{{ playerHtmlId }}')
                       .ttgSetPlaybackRate(0.25)"> 0.25 </a>
                       -->
            <a class="btn btn-primary active speedChange"
               onclick="document
                       .getElementById('{{ playerHtmlId }}')
                       .ttgSetPlaybackRate(0.5)"> 0.5 </a>
             <a class="btn btn-primary active speedChange"
                onclick="document
                        .getElementById('{{ playerHtmlId }}')
                        .ttgSetPlaybackRate(1)"> 1 </a>
            <a class="btn btn-primary active speedChange"
                onclick="document
                        .getElementById('{{ playerHtmlId }}')
                        .ttgSetPlaybackRate(1.5)"> 1.5 </a>
            <a class="btn btn-primary active speedChange"
                onclick="document
                        .getElementById('{{ playerHtmlId }}')
                        .ttgSetPlaybackRate(2)"> 2 </a>
        </span>
    </td>
        <td>
            {{ include('tc/playbackRate/playbackRateButtonsBlock_open.html.twig',
            {'media': media,
                'modalId':"modal_pRBB#{ playerHtmlId }"
            }) }}
        </td>
    </tr>
    </tbody>
    </table>
        <div class="widget">
        <fieldset>
            <label for="radio-1">New York</label>
            <input type="radio"
                   name="radio-1"
                   id="radio-1"
                   class="radio-choice"
                    value="2"/>
            <label for="radio-2">Paris</label>
            <input type="radio"
                   name="radio-1"
                   id="radio-2"
                   class="radio-choice"/>
            <label for="radio-3">London</label>
            <input type="radio"
                   name="radio-1"
                   id="radio-3"
                   class="radio-choice"
            on/>
        </fieldset>
        </div>
    </div>

    <style>
        .speedChange{min-width: 4rem;}
    </style>
{% endblock %}
