{% block body %}
    <table
            class="table table-responsive"
            style="border:none"
    >
        <tbody>
        <tr>
            <td style="width: 10%"> {{ include('tc/playbackRate/playbackRateSlider_21001_reset.html.twig',
                {'media': media}) }}</td>
            <td style="width: 10%">
                <input id="ttgPlaybackRate{{ playerHtmlId }}num"
                       name="ttgPlaybackRate{{ playerHtmlId }}num"
                       class="custom-control-input ttg ttg{{ playerHtmlId }}"
                       type="number"
                       min="0.25"
                       max="2"
                       value="1"
                       step="0.25"
                       title="{{ 'Change the playback rate' | trans }}"
                       width="2em"
                       onchange="nonLinearSlider{{ playerHtmlId }}.noUiSlider.set( this.value )"
                /></td>
            <td> <div id="ttgPlaybackRate{{ playerHtmlId }}slider21001"
                      class="custom-control-input"></div></td>
        </tr>
        </tbody>
    </table>



    <script type="application/javascript">
        var nonLinearSlider{{ playerHtmlId }}
            = document.getElementById('ttgPlaybackRate{{ playerHtmlId }}slider21001');
        noUiSlider.create(nonLinearSlider{{ playerHtmlId }}, {
            start:  1 ,
            snap: true,
            range: {
                'min': [  0.25 ],
                '25%': [  0.5 ],
                '50%': [  1 ],
                '75%': [  1.5 ],
                'max': [ 2 ]},
            connect: [true, false],
            pips: {
                mode: 'steps',
                values: [0,25,50,75,100],
                density: 0,
            }
        });
        var connect = nonLinearSlider{{ playerHtmlId }}.querySelectorAll('.noUi-connect');
        for ( var i = 0; i < connect.length; i++ ) {
            if (i == 0) {
                connect[i].classList.add('c-1-before-color');
            }
        }
        nonLinearSlider{{ playerHtmlId }}.noUiSlider.on('update', function(values){
            // console.log("on change"); console.log(this);
            // console.log(values);  console.log(values[0]);
            document.getElementById('ttgPlaybackRate{{ playerHtmlId }}num').value=values[0];

        });
        nonLinearSlider{{ playerHtmlId }}.noUiSlider.on('change', function(values){
            // console.log("on change"); console.log(this);
            // console.log(values);  console.log(values[0]);
           document.getElementById('{{ playerHtmlId }}').ttgSetPlaybackRate(values[0]);

        });

    </script>

    <style type="text/css">
       /* .noUi-handle{background-color: #0088CC} */
       .c-1-before-color{background: #337ab7;}
    </style>

{% endblock %}
