{% block body %}
    <div id="{{ rootId }}"
        class="progressBarRange"{% if (media.getDuration() > 0) %}
        data-media-time_start="0"
        data-media-time_end="{{ media.getDuration() }}"
        data-progress-time_start="0"
        data-progress-time_end="{{ min (60, media.getDuration() ) }}"
        onclick="moveInsideRange2('{{ rootId }}')"
    {% endif %}
    ><div id="{{ rootId }}Before"
          class="progressBarRangeBefore"
        ></div><span id="{{ rootId }}After" class="progressBarRangeAfter"></span></div>
{% endblock %}
