{% block body %}


    <div class="container-fluid" id="playerContainer">
        <audio controls="controls" id="a{{ globalMediaPositionFrom0 }}">
            <source src="{{ media.searchUrlWithoutExt }}.mp3" type="audio/mpeg"/>
            <source src="{{ media.searchUrlWithoutExt }}.ogg" type="audio/ogg"/>
            {{ "Your browser does not support the audio tag." | trans }}
        </audio>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="application/javascript">
        function forward (type, seconds){
            var mediaElement = document
                . getElementById('a{{ globalMediaPositionFrom0 }}');
            var newOffset = mediaElement.currentTime
                    + seconds;
            if (newOffset >=0 ) {
               mediaElement.currentTime = newOffset;
            }
        }
       /* function goToTime(type,seconds){ */
        function goToTime(seconds){
            document
                . getElementById('a{{ globalMediaPositionFrom0 }}')
                    .currentTime
                        = seconds ;
        }
        function getCurrentTime() {
            return document
                . getElementById('a{{ globalMediaPositionFrom0 }}').currentTime;
        }
        function getDuration(){
            return document
                . getElementById('a{{ globalMediaPositionFrom0 }}').duration;
        }
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        #player{resize:both; width:100%}
        #localNavTable{text-align:center;margin:1em auto}
        .center{text-align:center;}
        *[data-type='marker']{cursor:pointer;}
        .localNavBlock{text-align:center;margin:0em auto 1em auto}
        .localNavBlock .btn{margin-left:0.5em;margin-right:0.5em;}
        #progressBarsContainer{width: 100%; background: none repeat scroll 0 0 #373737; margin: 0 0 0 0;  padding: .1em 0 .1em 0;}
        #progressBarTrack, #progressBarRange,.progressBarRange{ background: none repeat scroll 0 0 #373737; cursor: pointer; height: 1.4em; border: 2px solid #e4be1d; border-radius: 8px; margin: 10px 0px 10px 0px;text-align: left;}
        #progressBarTrackBefore,#progressBarRangeBefore,.progressBarRangeBefore{height: 1.4em;width: 0;height: 100%;display: inline-block; background: linear-gradient(to right,#3c2985,#e4be1d);    border-top-left-radius: 8px; border-bottom-left-radius: 8px;}
        audio {
            width: 100%;
            display: block;
            text-align: center;
        }

    </style>
{% endblock %}
