{% block body %}


    <div class="container-fluid" id="{{ playerHtmlId }}">
        <video  controls="controls" id="{{ playerJsId }}" height="300" class="player">
            <source src="{{ media.searchUrlWithoutExt }}.mp4" type="video/mp4"/>
             <!-- <source src="{{ media.searchUrlWithoutExt }}.ogg" type="video/ogg"/> -->
            {{ "Your browser does not support the video tag." | trans }}
        </video>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="application/javascript">
        document
            .getElementById('{{ playerHtmlId }}')
            .ttgGetCurrentTime
            = function () {
                return document
                    .getElementById('{{ playerJsId }}')
                    .currentTime;
            }
        document
            .getElementById('{{ playerHtmlId }}')
            .ttgGetDuration
            = function () {
            return document
                .getElementById('{{ playerJsId }}')
                .duration;
            }
        document
            .getElementById('{{ playerHtmlId }}')
            .ttgSeekTo
            = function (seconds) {
                if (seconds >= 0) {
                    document
                        .getElementById('{{ playerJsId }}')
                        .currentTime
                       = seconds;
                }
            }
        document
            .getElementById('{{ playerHtmlId }}')
            .ttgForward
            = function (type, seconds) {
            var mediaElement
                = document.getElementById('{{ playerJsId }}');
            var newOffset
                = mediaElement.currentTime
                + seconds;
            if (newOffset >=0 ) {
                mediaElement.currentTime
                    = newOffset;
            }
        }
        document
            .getElementById('{{ playerHtmlId }}')
            .ttgSetPlaybackRate
            = function (playbackRate) {
                document
                    .getElementById('{{ playerJsId }}')
                    .playbackRate
                    = playbackRate;
            }
        document
            .getElementById('{{ playerHtmlId }}')
            .ttgTogglePlayPause
            = function () {
            if (! (document.getElementById('{{ playerJsId }}').paused)) {
                document.getElementById('{{ playerJsId }}').pause();
            }
            else {
                document.getElementById('{{ playerJsId }}').play();
            }
        }
        document
            .getElementById('{{ playerHtmlId }}')
            .ttgGetPlaylistIndex
            = function () {
           return 0;
        }
        document
            .getElementById('{{ playerHtmlId }}')
            .ttgPlayMediaAt
            = function (newPositionInPlaylist) {
            console.log("a implémenter");
        };
       /* function goToTime(type,seconds){ */
        function goToTime(seconds){
            document
                . getElementById('a{{ globalMediaPositionFrom0 }}')
                    .currentTime
                        = seconds ;
        }
        function getCurrentTime() {
            return document
                . getElementById('a{{ globalMediaPositionFrom0 }}').currentTime;
        }
        function getDuration(){
            return document
                . getElementById('a{{ globalMediaPositionFrom0 }}').duration;
        }
    </script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        #player, .player{resize:both; width:100%}
        #localNavTable{text-align:center;margin:1em auto}
        .center{text-align:center;}
        *[data-type='marker']{cursor:pointer;}
        .localNavBlock{text-align:center;margin:0em auto 1em auto}
        .localNavBlock .btn{margin-left:0.5em;margin-right:0.5em;}
        #progressBarsContainer{width: 100%; margin: 0 0 0 0;  padding: .1em 0 .1em 0; /*background: none repeat scroll 0 0 #373737; */}
        #progressBarTrack, #progressBarRange,.progressBarRange{ cursor: pointer; height: 1.4em;/* border: 2px solid #e4be1d; */ border-radius: 8px; margin: 10px 0px 10px 0px;text-align: left;/*background: none repeat scroll 0 0 #373737; */ }
        #progressBarTrackBefore,#progressBarRangeBefore,.progressBarRangeBefore{height: 1.4em;width: 0;height: 100%;display: inline-block; border-top-left-radius: 8px; border-bottom-left-radius: 8px;/*background: linear-gradient(to right,#3c2985,#e4be1d); */}
        audio, video {
            width: 100%;
            display: block;
            text-align: center;
        }

    </style>
{% endblock %}
